.cs-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.for-mobile{
    display: none;
}
.cs-sidebar {
    width: 220px;
    background: black;
    min-height: 100vh;
    flex: 0 0 auto;
    flex-direction: column;
}

.cs-content {
    min-width: 920px;
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.player-setting{
    display: flex;
    align-items: center;
    justify-content: right;
}

.progress-bar {
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
    background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#56a331 0%, #b3b3b3 0)
  }
  .progress-bar span{
    font-size: 8px;
    color: black;
    top: -1px;
    position: absolute;
    left: 5px;
  }
.mini-webplayer .cs-row > div{
    flex: 1;
}
.sidebar-inner {
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
}

header {
    background: black;
    padding: 5px;
}

.cs-nav-wrpr {
    display: flex;
    padding: 5px 10px 10px;
    background: #121212;
    border-bottom: 1px solid #2d2c2c;
}

.logo_wrp {
    text-align: center;
}
.donate-btn {
    background: rgb(255, 255, 255);
    color: black;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    width: 133px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #ffffff;
    margin-left: 10px;
}
.donate-btn:hover{
    border: 1px solid #4bba6a;
    color: #4bba6a;
}
.search-area {
    width: 60%;
}

.button-area {
    width: 40%;
    padding-top: 5px;
    text-align: right;
}

.search-area form {
    padding: 5px 20px 0 0;
    display: flex;
    position: relative;
}

.search-area input {
    width: 100%;
    padding: 0 10px 0 20px;
    height: 45px;
    border: 1px solid gainsboro;
    border-radius: 50px;
    background: transparent;
    color: white;
}

.button-area .cs-btn {
    background: #4bba6a;
    color: white;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    width: 190px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #4bba6a;
}

.button-area .cs-btn:hover {
    background: white;
    color: #4bba6a;
}

.cs-links ul {
    padding-left: 15px;
    padding-top: 15px;
}

.cs-links li {
    margin-bottom: 10px;
}

.cs-links li a {
    color: #c3c0c9;
}

.cs-links li a i {
    color: #fff;
    font-size: 26px;
    margin-right: 5px;
}

.user-menu {
    display: none;
}

.user-account {
    display: inline-block;
    position: relative;
}

i#user-icon {
    background: white;
    width: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    color: black;
    border-radius: 50px;
    margin-left: 10px;
    cursor: pointer;
}

.user-menu {
    position: absolute;
    background: white;
    width: 200px;
    right: 0;
    top: 56px;
    z-index: 9;
    text-align: left;
}

.cs-featured-content .cs-content-profile h3 {
    color: black;
}

.user-menu li a {
    padding: 5px 0 5px 10px;
    display: block;
    color: black;
}

.cs-content {
    background: #121212;
    color: white;
}

.category-slider .item a {
    display: block;
    line-height: 40px;
    border-radius: 50px;
    color: black;
    font-size: 14px;
    padding: 0 25px;
}

.category-slider .item:hover {
    background: black;
}

.category-slider .item:hover a {
    color: white;
}

.category-area {
    margin-top: 55px;
    margin-bottom: 20px;
}

.cs-links li:hover a {
    color: #ffffff;
}

.category-slider .item {
    text-align: center;
    background: white;
    border-radius: 50px;
}

.mini-webplayer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #141414;
    padding: 5px;
    z-index: 99;
}

.player-info,
.player-setting {
    /* width: 33%; */
}

.player-control {
    /* width: 30%; */
    text-align: center;
}

.player-info img {
    width: 65px;
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-box-shadow: -1px 0px 18px -3px rgb(0 0 0);
    -moz-box-shadow: -1px 0px 18px -3px rgb(0 0 0);
    box-shadow: -1px 0px 18px -3px rgb(0 0 0);
}

.player-info h3,
.player-info p {
    color: #ededed;
}

.player-info h3 {
    padding-bottom: 3px;
}

.cs-play-btn {
    padding-top: 10px;
}

.cs-play-btn i {
    font-size: 26px;
    color: #8d8d8d;
}

.play-pause-btn i {
    font-size: 40px;
    color: #fff;
    position: relative;
    top: 5px;
}

span.play-pause-btn {
    margin: 0 15px;
}

.podcast {
    cursor: pointer;
}

.cs-content-search .podcasts_list img {
    border-radius: 10px;
}

.cs-featured-content {
    padding: 0 10px 100px;
}

.player-info {
    /* padding-right: 30px; */
    display: flex;
    align-items: center;
}

.player-info h3.title {
    font-size: 16px;
}

.player-info h4.sub-title {
    color: #a5a1a1;
    font-size: 16px;
}

/*
.cs-feeds .episodes {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.cs-feeds .episode_image {
    width: unset !important;
    height: unset !important;
}
.cs-feeds .episode_title {
   line-height: 20px;
    color: #242424;
    font-size: 16px;
    font-weight: 600;
	margin-bottom: 15px;
}*/
.cs-feeds .episodes {
    max-width: 600px;
    margin-top: 25px;
}

.cs-feeds .episodes .episode {
    background: #262626;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 10px;
} 

.cs-feeds .episodes .episode .cs-row {
    border-bottom: 1.5px solid #706f6f;
}

.cs-feeds .episodes .episode .episode_title {
    width: 70%;
}

.cs-feeds .episodes .episode .cs-track-play-btn {
    width: 15%;
    text-align: center;
    padding-top: 15px;
}

.cs-feeds .episodes .episode .episode_image {
    width: 15%;
    height: auto !important;
}

.cs-feeds .episodes .episode .episode_image img {
    width: 80px;
    border-radius: 8px;
}

.cs-feeds .episodes .episode h4 {
    color: white;
    padding-top: 5px;
}

#volume_control {
    background: #b5cbb0;
    height: 5px;
    width: auto;
    position: relative;
    /* top: -4px; */
    cursor: pointer;
}

#volume_control::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50px;
}

#volume_control::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #fff;
    cursor: pointer;
}

.cs-featured-content h3,
.cs-featured-content .episode_title,
.podcast_title {
    color: white;
}

.user-menu .fa {
    color: #474747;
}

.cs-content-profile label {
    display: block;
    color: black;
}

.cs-content-profile {
    background: white;
    width: 700px;
    margin: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 14px -3px rgba(176, 169, 176, 1);
    -moz-box-shadow: 0px 0px 14px -3px rgba(176, 169, 176, 1);
    box-shadow: 0px 0px 14px -3px rgb(225 225 225);
}

.cs-content-profile h3 {
    border-bottom: 1px solid gainsboro;
    padding: 20px;
}

.cs-content-profile form {
    padding: 20px;
}

.cs-content-profile input,
.cs-content-profile textarea {
    width: 100%;
    padding-left: 10px;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

.cs-content-profile input {
    height: 35px;
}

.cs-content-profile input[type="submit"] {
    width: 200px;
    background: #4bba6a;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.cs-content-profile input[type="submit"]:hover {
    background: #000;
}

.recently_view .yidpod_title {
    margin-bottom: 10px;
}

.podcasts.horizontal {
    justify-content: unset;
}

.recently_view .owl-dots {
    display: none;
}

.cs-search-page .podcasts_lists {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(5, 1fr);
}

.results__container .podcasts_list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.cs-search-page .podcasts_lists .podcast {
    padding: 10px;
}

/*
input#volume_control[type='range'] {
    overflow: hidden;
    width: 60px;
    -webkit-appearance: none;
    background-color: #a3cb9a85;
}

input#volume_control[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
}

input#volume_control[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -80px 0 0 80px #56a331;
}
*/

.cs-speed {
    display: inline-block;

}

a.more {
    font-family: 'Open Sans';
}

.cs-content-search .podcast {
    padding: 10px;
}

select#audio_speed {
    background: #141414;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border: 0;
    width: 45px;
    padding: 5px;
    border: 0 !important;
    /*Removes border*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-overflow: '';
    text-indent: 0.01px;
    /* Removes default arrow from firefox*/
    text-overflow: "";
    /*Removes default arrow from firefox*/
}

select#audio_speed option {
    font-size: 15px;

}

select#audio_speed .podcast1 {
    margin: 15px 15px 0 0;
}

.podcast-item a,
.podcast_title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 15px;
}

.owl-nav {
    position: absolute;
    top: -50px;
    right: -5px;
}

.podcast-item img {
    margin-bottom: 10px;
}

.podcast-item img,
.podcast_image img,
.episode_image img {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.cs-content-search .podcasts_list {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(5, 1fr);
}

.owl-nav button {
    font-size: 20px !important;
    margin: 5px;
    border: 1px solid #979595 !important;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.cs-featured-content.search-page {
    min-height: 85vh;
}

.cs-featured-content.search-page .podcast_image img,
.cs-content-search .podcast_img img {
    width: 100%;
    object-fit: cover;
}

.player-setting {
    position: relative;
    /* padding-left: 20px; */
    text-align: right;
}

.share-links {
    position: absolute;
    top: -120px;
    display: none;
    left: -4px;
    width: 32px;
}

.share-episode {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.share-links i {
    font-size: 15px;
    margin: 0 3px;
}

.share-links a i {
    background: #4bba6a;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 11px 0px rgb(44 44 44 / 26%);
    -moz-box-shadow: 0px 0px 11px 0px rgb(44 44 44 / 26%);
    box-shadow: 0px 0px 11px 0px rgb(44 44 44 / 26%);
}

.btn_choices {
    margin: 20px 0 30px;
}

.btn_choices input[type="radio"] {
    display: none;
}

.btn_choices label {
    display: inline-block;
    color: black;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: Arial;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid black;
    background: white;
}

.btn_choices input[type="radio"]:checked+label {
    background-color: #4bba6a;
    color: white;
    border: 1px solid #4bba6a;
}

ul.grid-cat {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

ul.grid-cat li {
    border-radius: 7px;
}

ul.grid-cat li a {
    color: white;
    display: block;
    padding: 7px 20px 25px;
}

.blue {
    background-color: #2c47b8;
}

.green {
    background-color: #27856a;
}

.orange {
    background-color: #ff6436;
}

.red {
    background-color: #ff6969;
}

.light-green {
    background-color: #1db68a;
}

.light-blue {
    background-color: #509bf6;
}

.magenta {
    background-color: #611db6;
}

.pink {
    background-color: #b61d79;
}

.gray {
    background-color: #634b4a;
}

.episode-subcribe {
    display: inline-block;
    cursor: pointer;
}

.recently_view,
.category_1,
.one_cat {
    margin-top: 20px;
}

button#episode_subscribe {
    text-transform: capitalize;
    background: #4bba6a;
    color: #fff;
    padding: 5px 8px;
    border-radius: 13px;
    font-size: 11px;
    cursor: pointer;
    border: none;
}

.cs-download {
    display: inline-block;
    padding: 0px 10px;
}

p.browse-btn {
    margin: 100px auto;
    width: 300px;
}

p.browse-btn {
    margin: 70px auto;
    width: 300px;
}

p.not-found {
    background: #383737;
    padding: 10px;
    border-left: 5px solid;
    margin-top: 20px;
}

p.browse-btn a {
    background: #4bba6a;
    text-align: center;
    padding: 10px 20px;
    color: white;
    border-radius: 50px;
}

.cs-content-search .podcasts_list,
.search_list .podcasts_lists h1,
.cs-content-search h1 {
    color: white;
    margin-top: 15px;
}

.search-area .custom_close {
    position: absolute;
    right: 33px;
    top: 17px;
    cursor: pointer;
}

.arrows {
    position: relative;
    top: 175px;
    z-index: 9;
}

.left-arrow,
.right-arrow {
    position: absolute;
    top: -42px;
    font-size: 25px;
}

.left-arrow i,
.right-arrow i {
    color: #ffffff;
    width: 35px;
    height: 35px;
    background: #4bba6a;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #4bba6a;
}

.right-arrow {
    right: 0px !important;
}

.podcasts.horizontal {
    scrollbar-color: #4bba6a #454444;
}

.podcasts.horizontal:-webkit-scrollbar {
    width: 11px;
}

.podcasts.horizontal:-webkit-scrollbar-track {
    background: transparent;
}

.podcasts.horizontal:-webkit-scrollbar-thumb {
    background-color: $gray--lighter;
    border-radius: 6px;
    border: 3px solid transparent;
}

/* webkit browsers */
.podcasts.horizontal::-webkit-scrollbar,
.podcasts.horizontal::-webkit-scrollbar-thumb {
    height: 10px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 1px solid #7d7474b3;
    background: #454444;
}

.podcasts.horizontal::-webkit-scrollbar-thumb {
    background: #4bba6a;
}

.category_page {
    position: relative;
    margin-bottom: 30px;
}

.mobile-menu-icon,
.mobile-icon {
    display: none;
}

.cs-content-profile input,
.cs-content-profile textarea {
    padding-left: 10px !important;
}

.cs-podcast-thumbnail {
    width: 20%;
}

.cs-podcast-text {
    width: 80%;
}

.cs-podcast-thumbnail img {
    border-radius: 10px;
}

.cs-podcast-text {
    padding: 10px 20px;
}

.cs-podcast-text h2 {
    color: white;
    font-weight: 400;
    margin-bottom: 6px;
}

.cs-podcast-text h4.sub-title-top {
    color: #c8c8c8;
    font-size: 18px;
    text-decoration: underline;
}

.cs-podcast-text .podcast-description {
    color: #a7a4a4;
    font-size: 15px;
    line-height: 24px;
}

.cs-podcast-subscribe button {

    background: #4bba6a;
    color: antiquewhite;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
}

.cs-botm {
    margin-top: 15px;
}

.share-podcast .links-podcast a {
    margin: 0 8px;
    line-height: 45px;
}

.share-podcast .links-podcast {
    padding-left: 30px;
}

.cs-track-items {
    max-width: 600px;
    margin-top: 50px;
}

.track-item {
    background: #262626;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 10px;
}

.track-item .cs-row {
    border-bottom: 1.5px solid #706f6f;
}

.track-item .cs-track-thumbnail img {
    width: 80px;
    border-radius: 8px;
}

.cs-track-info h4 {
    color: white;
    padding-top: 5px;
}

.cs-track-info h5,
.cs-track-info .fa {
    color: #b3aeae;
    font-size: 14px;
}

.cs-track-thumbnail {
    width: 15%;
}

.cs-track-info {
    width: 70%;
}

.cs-track-play-btn {
    width: 15%;
    text-align: center;
    padding-top: 15px;
}

.cs-track-play-btn .fa {
    background: white;
    color: black;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 27px;
    line-height: 55px;
    border-radius: 50px;
}

.podcast-description p {
    padding-bottom: 0;
}

.cs-podcast-subscribe button#episode_subscribe {
    padding: 6px 25px;
    border-radius: 50px;
    font-size: 16px;
}

/* ----------------My Feed page tab --------------*/
ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
}

ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin-right: 2px;
    cursor: pointer;
}

ul#tabs-nav li:hover,
ul#tabs-nav li.active {
    border-bottom: 1px solid white;
}

#tabs-nav li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 8px 10px;
}

.tab-content {
    padding: 10px;
    color: #FFF;
    display: none;
}

.tab-content .playlist-ctn {
    margin-top: 5px;
}

/* ----------------End My Feed page tab --------------*/
.search_list h1,
.cs-content-search h1 {
    color: white;
    text-transform: capitalize;
}

.show-more-text {
    height: 45px;
    overflow: hidden;
}

a.more {
    cursor: pointer;
}

.cs-content-feed.cs-my-show .podcasts_list {
    grid-gap: 15px;
}

.episode-img {
    border-radius: 10px;
}

.cs-episode-page h2 {
    font-weight: 400;
    margin: 8px 0 0px;
}

.cs-episode-page .sub-title-top {
    color: #c8c8c8;
    font-size: 18px;
    text-decoration: underline;
}

.cs-episode-page button.play__btn {
    padding: 10px 40px;
    cursor:pointer;
}
.cs-episode-page .single_description{
    color: #a7a4a4;
    font-size: 15px;
    line-height: 24px;
}
.cs-episode-page .fa-download,.cs-episode-page .fa-share-alt{
    position: relative;
    top: 3px;
}
.back__btn button,.mini-webplayer .sub-title{
    cursor: pointer;
}
.not-login-wrpr {
    max-width: 800px;
    background: #353434;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    margin: 50px auto;
}
.not-login-wrpr h2 {
    color: white;
    margin-bottom: 25px;
}
.not-login-wrpr .login-btn,.episode-subcribe .login-btn {
    background: #4bba6a;
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
}
.not-login-wrpr .login-btn:hover,.episode-subcribe .login-btn:hover{
    color:  #4bba6a;
    background: white;
}
.episode-subcribe .login-btn {
    padding: 7px 30px;
    position: relative;
    top: 5px;
}
.cs-clickable-title{
    cursor: pointer;
}
 








/*-------------------- Responsive Css here ------------------------*/
@media screen and (min-width: 2221px) {

    .cs-content-search .podcasts_list,
    .search_list .podcasts_lists {
        grid-template-columns: repeat(8, 1fr);
    }

    .podcasts_list,
    .podcasts_lists {
        grid-template-columns: repeat(8, 1fr);
    }

    .cs-content-feed .podcasts_list {
        grid-template-columns: repeat(8, 1fr);
    }


}

@media screen and (max-width: 2220px) {

    .cs-content-search .podcasts_list,
    .search_list .podcasts_lists {
        grid-template-columns: repeat(7, 1fr);
    }

    .podcasts_list,
    .podcasts_lists {
        grid-template-columns: repeat(7, 1fr);
    }

    .cs-content-feed .podcasts_list {
        grid-template-columns: repeat(7, 1fr);
    }

}

@media screen and (max-width: 1920px) {

    .cs-content-search .podcasts_list,
    .search_list .podcasts_lists {
        grid-template-columns: repeat(6, 1fr);
    }

    .cs-content-feed .podcasts_list {
        grid-template-columns: repeat(6, 1fr);
    }


}

@media screen and (max-width: 1520px) {

    .cs-content-search .podcasts_list,
    .search_list .podcasts_lists {
        grid-template-columns: repeat(5, 1fr);
    }

    .cs-content-feed .podcasts_list {
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(5, 1fr);
    }


}

@media screen and (max-width: 1250px) {
    .player-setting {
        /* padding-left: 45px; */
    }

    .player-info h3.title,
    .player-info h4.sub-title {
        font-size: 14px;
    }

    .player-info h4.sub-title {
        font-size: 14px;
    }

    .player-info h3 {
        padding-bottom: 5px;
    }

    .cs-content-feed .podcasts_list {
        grid-template-columns: repeat(4, 1fr);
    }
    .donate-btn {
        width: 100px;
    }
    .button-area .cs-btn {
        width: 163px;
    }

}

@media screen and (max-width: 1150px) {
    .donate-btn {
        width: 85px;
    }
    .button-area .cs-btn {
        width: 144px;
    }
    .cs-sidebar {
        width: 20%;
    }

    .cs-content {
        min-width: 80%;
    }

    .search-area {
        width: 60%;
    }

    .button-area {
        width: 40%;
    }

    .player-ctn #myProgress {
        width: 215px;
    }

    .player-setting {
        /* padding-left: 35px; */
    }

    .cs-content-search .podcasts_list,
    .search_list .podcasts_lists {
        grid-template-columns: repeat(4, 1fr);
    }

}


@media screen and (max-width: 992px) {
    .playlist-info-track {
        width: 77% !important;
    }
    .not-login-wrpr {
        padding: 20px;
    }
    .search-area {
        width: 50%;
    }
    .button-area {
        width: 65%;
    }
    .cs-links ul {
        padding-left: 0;
    }

    .cs-links li a i {
        font-size: 18px;
    }

    .cs-links li a {
        font-size: 15px;
    }

    .button-area .cs-btn {
        width: 178px;
    }

    i#user-icon {
        margin-left: 10px;
    }

    .podcast_image {
        width: 140px;
    }

    .podcast-item a,
    .podcast_title,
    .cs-feeds .episode_title {
        font-size: 13px;
    }

    .podcast {
        padding: 5px;
    }

    .podcast_image img {
        height: 135px;
    }

    .recently-view-posts .podcast-item img {
        height: 170px;
    }

    .page-id-2876 .podcast_image img {
        height: 165px;
    }

    .category_page {
        margin-bottom: 50px;
    }

    ul.grid-cat {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    ul.grid-cat li a {
        padding: 7px 15px 15px;
        font-size: 15px;
    }

    .cs-content-profile {
        width: 570px;
    }

    .player-info {
        flex-basis: 100%!important;
        /* padding-left: 10px; */
    }

    .player-control {
        flex-basis: 100%!important;
    }

    .player-setting {
        flex-basis: 100%!important;
        justify-content: center;
        padding-bottom: 10px;
    }

    .player-ctn {
        /* width: 250px; */
    }

    #myProgress {
        /* width: 250px; */
        left: 50px;
    }

    .player-setting {
        padding-left: 0;
    }

    .mini-webplayer {
        padding: 10px 0;
    }

    .btn-ctn,
    .infos-ctn {
        margin-left: 80px;
    }

    .playlist-track-ctn img {
        height: 70px;
    }

    .cs-content-search .podcasts_list,
    .search_list .podcasts_lists {
        grid-template-columns: repeat(3, 1fr);
    }

    .cs-content-search .podcasts_list,
    .search_list .podcasts_lists h1,
    .cs-content-search h1 {
        font-size: 28px;
    }

    .cs-content-search .podcasts_list,
    .search_list .podcasts_lists .podcast_image {
        width: 100%;
    }

    .cs-content-feed .podcasts_list {
        grid-template-columns: repeat(3, 1fr);
    }

    .cs-content-feed .podcast_image img {
        height: auto;
    }

    .cs-content-feed .podcast_image {
        width: auto;
    }



}


.hide-in-desktop {
    display: none
}

@media screen and (max-width: 767px) {
    
    .cs-content-search .podcasts_list,
    .search_list .podcasts_lists .podcast_image {
        width: 100% !important;
    }

    .cs-podcast-text .podcast-description {
        font-size: 12px;
        line-height: 18px;
    }

    .cs-track-play-btn .fa {
        width: 35px;
        height: 35px;
        font-size: 18px;
        line-height: 35px;
    }

    .mobile-menu-icon {
        display: none;
        width: 10%;
    }

    .hide-in-desktop {
        display: block
    }

    .cs-links.bottom-links ul {
        display: grid;
grid-template-columns: repeat(5, 1fr);
padding: 10px 10px 0;
border-top: 1px solid black;
    }

    .search-area {
        width: 55%;
    }

    .search-area input {
        height: 35px;
    }

    .search-area .custom_close {
        top: 14px;
    }

    .mobile-menu-icon i {
        margin-top: 14px;
        font-size: 20px;
    }

    .button-area {
        width: 50%;
        margin-left: auto;
    } 

    .button-area .cs-btn {
        width: 115px;
        font-size: 12px;
        height: 35px;
        line-height: 35px;
    }

    i#user-icon {
        width: 35px;
        line-height: 35px;
        font-size: 15px;
    }

    .cs-sidebar {
        width: 40%;
        position: absolute;
        top: 0;
        left: -40%;
        z-index: 9;
    }

    .cs-row {
        position: relative;
    }

    .mobile-icon {
        display: block;
        text-align: right;
    }

    .cs-content-profile {
        width: 100%;
    }

    .mobile-menu-icon i {
        cursor: pointer;
    }

    .mobile-icon i {
        font-size: 16px;
        position: unset;
        right: -30px;
        top: 0;
        background: #4bba6a;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        color: white;
    }

    .podcast_image {
        width: 160px !important;
    }

    .page-id-2876 .podcast_image img {
        height: 145px;
        width: 100%;
    }

    .recently-view-posts .podcast-item img {
        height: 145px;
    }

    .arrows {
        top: 140px;
    }

    .yidpod_title {
        margin-bottom: 20px;
    }

    .user-menu li a {
        font-size: 15px;
    }

    .user-menu .fa {
        font-size: 16px;
    }

    .user-menu {
        width: 150px;
        top: 45px;
    }

    .category-slider .item a {
        line-height: 35px;
    }

    .btn-ctn,
    .infos-ctn {
        margin-left: 0;
    }

    #myProgress {
        width: 250px;
        left: 0;
    }

    .player-control .player-ctn {
        /* width: 300px; */
    }

    .mini-webplayer .fa {
        color: #fff;
        font-size: 16px;
    }

    .player-control div#btn-faws-play-pause {
        width: 35px;
        height: 34px;
        line-height: 33px;
    }

    .player-control div#btn-faws-play-pause i {
        line-height: 34px;
    }

    .player-ctn #myProgress {
        width: 190px;
    }

    .player-control {
        /* width: 60%; */
    }

    .player-setting {
        /* width: 40%; */
    }

    .playlist-track-ctn img {
        width: 10%;
        border-radius: 10px;
        object-fit: cover;
        height: 70px;
    }

    .cs-featured-content.search-page .podcast_image img,
    .cs-content-search .podcast_img img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .show-more-text {
        height: 55px;
        overflow: hidden;
    }

    .cs-content-feed.cs-my-show .podcasts_list .podcast_image {
        width: auto !important;
    }

    .donate-btn {
        height: 35px;
        line-height: 33px;
        font-size: 14px;
    }
    .cs-links.bottom-links li a .fa {
        display: block;
    }
    .cs-links.bottom-links li {
        text-align: center;
    }
    .cs-links li a {
        font-size: 13px;
    }



}

@media screen and (max-width: 600px) {
    .playlist-btn-play {
        width: 8%;
    }
    .for-mobile{
        display: block;
    }
    .for-desktop{
        display: none !important;
    }
    
    .cs-content-search .podcasts_list,
    .search_list .podcasts_lists {
        grid-template-columns: repeat(2, 1fr);
    }

    .cs-content-feed.cs-my-show .podcasts_list {
        grid-gap: 10px;
    }
    .search-area {
        width: 70%;
    }
    .button-area {
        width: 50%;
    }




}

@media screen and (max-width: 550px) {

   

    

    .cs-links.bottom-links li a {
        font-size: 12px;
        display: block;
    }

    .cs-podcast-text {
        width: 100%;
        padding: 10px 0 !important;
    }

    .cs-podcast-thumbnail {
        width: 100%;
    }

    .cs-track-play-btn {
        padding-top: 10px;
    }

    .track-item {
        padding: 5px;
    }

    .cs-track-info {
        width: 65%;
    }

    .cs-track-thumbnail {
        width: 20%;
    }

    .playlist-track-ctn img {
        width: 15% !important;
        border-radius: 8px !important;
        height: 60px;
    }

    .playlist-info-track {
        width: 70% !important;
    }

    .playlist-info-track,
    .playlist-duration {
        padding-top: 0px !important;
        font-size: 13px !important;
        line-height: 20px;
    }

    .playlist-info-track .section__container {
        margin-top: 4px;
    }

    .playlist-btn-play {
        width: 15% !important;
    }

    .playlist-btn-play .fa-play,
    .playlist-btn-play .fa-pause {
        width: 40px !important;
        height: 40px !important;
        line-height: 40px !important;
        font-size: 18px !important;
    }

    div#toggleMute {
        /* margin-left: 5px; */
    }

    .cs-download {
        padding: 0px 5px;
    }

    select#audio_speed {
        font-size: 16px;
    }


}

@media screen and (max-width: 480px) {
    .cs-episode-page h2 {
        font-size: 24px;
        line-height: 30px;
    }
    .player-info {
        padding-left: 5px;
        padding-right: 5px;
    }

    .player-control .player-ctn {
        /* width: 200px; */
    }

    .player-ctn #myProgress {
        width: 160px;
        left: 2px;
        top: 2px;
    }

    .player-control {
        /* width: 70%; */
    }

    .player-setting {
        /* width: 30%; */
    }

    .player-control .player-ctn {
        /* width: 240px; */
    }

    .player-setting div#toggleMute {
        /* margin-top: 3px; */
    }

    .player-control #myBar {
        height: 3px;
    }

    .player-control .timer {
        left: -36px;
        font-size: 12px;
    }

    .player-control .duration {
        font-size: 12px;
        right: -35px;
    }

    .cs-download {
        padding: 0px 8px;
    }

    div#toggleMute {
        /* margin-left: 8px; */
    }

    #volume_control {
        left: 5px;
    }

    .btn-action {
        /* width: 45px; */
    }

    .search-area form {
        padding: 5px 0px 0 0;
    }

    i#user-icon {
        margin-left: 0px;
    }

    .mobile-menu-icon {
        width: 9%;
    }

    .cs-nav-wrpr {
        padding: 5px 7px 10px;
    }

    .category-area .owl-dots {
        display: none;
    }

    .episode-subcribe {
        position: absolute;
        top: -35px;
        right: 3px;
    }

    button#episode_subscribe {
        padding: 4px 8px;
        font-size: 9px;
    }

    .search-page .cs-search-page {
        padding: 15px 5px 15px 0;
    }

    .search-page .btn_choices label {
        padding: 5px 16px;
        font-size: 13px;
        margin-right: 5px;
    }

    .search-page ul.grid-cat {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .cs-feeds .episodes {
        grid-template-columns: repeat(2, 1fr);
    }

    .cs-content-feed .podcasts_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .cs-content-search .podcasts_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .cs-content-search .podcast {
        padding: 5px;
    }

    .search-area input {
        padding: 0 5px 0 10px;
    }

    .search-area .custom_close {
        right: 15px;
    }

    .cs-content-search .podcasts_list,
    .search_list .podcasts_lists {
        grid-template-columns: repeat(2, 1fr);
    }

    .cs-content-profile input,
    .cs-content-profile textarea {
        font-size: 14px;
    }

    .cs-content-profile form {
        padding: 20px 10px;
    }

    .cs-content-profile h3 {
        padding: 20px 10px;
    }

    .playlist-track-ctn img {
        height: 50px !important;
    }

    .cs-content-feed .episode_image img,
    .cs-featured-content.search-page .podcast_image img {
        height: 180px;
    }

    .cs-content-feed .podcast_image {
        width: auto !important;
    }

    .btn_choices label {
        padding: 0px 12px;
        font-size: 12px;
        margin-right: 5px;
    }

    ul.grid-cat {
        grid-template-columns: repeat(2, 1fr);
    }

    ul.grid-cat li a {
        padding: 5px 10px 5px;
        font-size: 14px;
    }
   .inner__content ul#tabs-nav li {
        font-size: 14px;
    }
}

@media screen and (max-width: 415px) {
    .cs-links.bottom-links ul {
        padding: 10px 0px 0;
    }
    .cs-links.bottom-links li:first-child{
        width: 90px;
    }
    .cs-links.bottom-links li:nth-child(2){
        width: 85px;
    }
    div#toggleMute {
        /* margin-left: 10px; */
    }

    .cs-content-feed .podcast_image img,
    .cs-content-feed .episode_image img,
    .cs-featured-content.search-page .podcast_image img {
        height: 150px;
    }

    .cs-featured-content.search-page .podcast_image img,
    .cs-content-search .podcast_img img {
        height: 160px;
    }

    .cs-links.bottom-links li a {
        font-size: 11px;
    }
    .not-login-wrpr h2 {
        font-size: 25px;
        line-height: 30px;
    }
    .share-option {
		padding: 0px 10px;   
	}
}


@media screen and (max-width: 367px) {
    .cs-links li a {
        font-size: 14px;
    }

    .cs-links li a i {
        font-size: 16px;
    }

    .cs-links li a i {
        margin-right: 0;
    }

    .sidebar-inner {   
        padding: 7px;
    }

    .button-area .cs-btn {
        width: 103px;
    }

    .search-area input {
        width: 98%;
    }





}

.back__btn button {
    background: #ece2e200;
    margin-top: 20px;
    border: 0;
}

.back__btn i {
    font-size: 24px !important;
}
.dropdown-share ,.dropdown-share2{
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    
  }
  .dropdown-share li,.dropdown-share2 li {
    list-style: none;
    color: #cdcbcb;
    padding-left: 8px;
    font-size: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #4c4b4b;
    margin-bottom: 7px;
    transition: all .2s;
    text-align: left;
}
.dropdown-share li:hover ,.dropdown-share2 li:hover{
    padding-left: 12px;
}
#download_progress{
    margin-left: 5px;
}
.dropdown-share li:last-child,.dropdown-share2 li:last-child{
	border-bottom:none;
}
.dropdown-share li.cs-download,.dropdown-share2 li.cs-download{
    display: flex;
    padding: 7px 0px 7px 8px;
}
.dropdown-share li.cs-download a,.dropdown-share li a,.dropdown-share2 li.cs-download a,.dropdown-share2 li a{
	color: #cdcbcb;
	display:block;
} 
  .share-option {
    position: relative;
	display: inline-block;
   padding: 0px 20px;
  }

  .ellipsis-share,.ellipsis-share2 {
    cursor: pointer;
  }

  .dropdown-share.open,.dropdown-share2.open {
    display: block;
    opacity: 1;
	bottom: 27px;
    right: 7px;
    border-radius: 5px;
  }
  span.ellipsis-share .fa, span.ellipsis-share2 .fa {
    width: 20px;
    text-align: center;
}
.podcast:first-child {
    padding-left: 0;
}


/********** for new progress bar ***********/


div#myProgress__new {
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

input.myprogressnew {
    width: 100%;
    background: #b5cbb0;
    height: 5px;
    position: relative;
    /* top: -4px; */
    cursor: pointer;
}

.myprogressnew {
        background: #b5cbb0;
      height: 5px;
   }
   
   .myprogressnew::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
 
    }
    
   .myprogressnew::-moz-range-thumb {
       width: 25px;
        height: 25px;

      }
   
     .myprogressnew {
          left: 5px;
       }


       /********** End for new progress bar ***********/



div#btn-faws-volume {
/*     width: 20px; */
	padding-right: 5px;
}



/* Range Slider progress css */
.range-slider__range {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #b5cbb0;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -moz-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.range-slider__value {
    position: absolute;
    z-index: -999;
    opacity: 0;
}

.range-slider__range::-moz-range-track {
 /* background: linear-gradient(90deg, rgb(86, 163, 49) 16.1616%, rgb(181, 203, 176) 16.2616%); */
  border: 0;
}
.range-slider__range::-moz-focus-inner,
.range-slider__range::-moz-focus-outer {
  border: 0;
}
/*----- ./End ----*/